*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family:Gotham, sans-serif;

}
html,body {
    padding:0;
    margin:0;
    width: 100;
    height:100%;
    background: #10101E;
}

body::-webkit-scrollbar {
	display: none;
  }

  .pr_content{
    overflow: auto;
	width: 75%;
    height: calc(100% - 115px);
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.pr_left{
	flex-grow: 2;
}
.pr_right{
    width: 30%;
}
.pr_left,.pr_right{
    height:50%;
}
.pr_time{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1abc9c;
    height: 100%;

}
.pr_lap{
    height: 100%;
    overflow-y: auto;
    border: 1px solid #1abc9c;
}
.pr_profile{
    text-align: center;
    font-size: 16px;
	padding: 10px 100px;
	background: #1abc9c;
	color: #fff;
    border: 1px solid #1abc9c;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.pr_lap::-webkit-scrollbar {
	display: none;
  }
.pr_lap ul li{
    font-size: 20px;
    color: #fff;
    text-align: center;
	padding: 20px;
	border-bottom: 1px solid gray;
}

.pr_lap ul li:hover{

    background: #1abc9c;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);

}
.controler-time{
    color: #fff;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: auto auto;
}
.grid-item {
    cursor: pointer;
    margin-top: 15px;
 
    border: 1px solid #1abc9c;
    padding: 5px;
    justify-content: center;
    text-align: center;
  }
  .grid-item:hover{
    background-color: rgba(167, 153, 31, 0.8);
  }
  
#playButton {
    display: inline-block;
  }
  
#pauseButton {
    display: none;
  }
  .time {
      color: #fff;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 6.5vw;
  }